*{
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f2f7f5;
    margin: 0;
    padding: 0;
}
header{
    background-color: #00473e;
    text-align: center;
    width: 100%;
    height: 50px;
}
.header_cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fffffe;
    height: 100%;
}
.header_cont h1{
    font-size: 18px;
}
.nav_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.nav_list li{
    margin-left: 14px;
}
.nav_list li a{
    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
}
.mainApp_content{    
    margin: 20px 20px 0 20px;
    text-align: left;
    color: #00473e;
}
.dash_box_sensor{    
    box-shadow: 2px 2px 6px 0px rgba(71,93,91,0.72);
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    padding: 2.5rem;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #fffffe;
}
.dash_box_sensor span{
    margin-top: 5px;
    color: #475d5b;
}