*{
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f2f7f5;
    margin: 0;
    padding: 0;
}
header{
    background-color: #00473e;
    text-align: center;
    width: 100%;
    height: 50px;
}
.header_cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fffffe;
    height: 100%;
}
.header_cont h1{
    font-size: 18px;
}
.nav_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.nav_list li{
    margin-left: 14px;
}
.nav_list li a{
    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
}
.mainApp_content{
    margin-top: 20px;
}