<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature and Humidity Sensor</title>
</head>
<body>
    <div class="main_container">
        <header>
            <div class="header_cont">
                <h1>Clinic climate Station</h1>
                <ul class="nav_list">
                    <li><a href="/index">Dashboard</a></li>
                    <li><a href="/sensores">Sensores</a></li>
                    <li><a href="/salas">Salas</a></li>
                    {% comment %}<li><a href="{% url 'articuloFull' %}">URL de Django aun sin enlazar</a></li>{% endcomment %}
                    
                </ul>
            </div>
        </header>
        <div class="mainApp_content">
            {% block mainApp_content %}
    
            {% endblock mainApp_content %}
        </div>
        
        {% load static%}
        <link rel="stylesheet" href={% static "css/styles.css" %}>
    </div>
</body>
</html>